In [1]:
import requests
import datetime
import pandas as pd
from bs4 import BeautifulSoup
from tabulate import tabulate

url = 'https://www.worldometers.info/coronavirus/'

class HTMLTableParser:

    def parse_url(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        return [(table['id'],self.parse_html_table(table))\
            for table in soup.find_all('table')]

    def parse_html_table(self, table):
        n_columns = 0
        n_rows = 0
        column_names = []

        for row in table.find_all('tr'):
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows += 1
                if n_columns == 0:
                    n_columns = len(td_tags)
        
        th_tags = row.find_all('th')
        if len(th_tags) > 0 and len(column_names) == 0:
            for th in th_tags:
                column_names.append(th.get_text())
        
        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("Column titles do not match the number of columns")

        columns = column_names if len(column_names) > 0 else range(0,n_columns)
        df = pd.DataFrame(columns = columns,
                    index = range(0,n_rows))
        row_marker = 0
        for row in table.find_all('tr'):
            column_marker = 0
            columns = row.find_all('td')
            for column in columns:
                df.iat[row_marker,column_marker] = column.get_text()
                column_marker += 1
            if len(columns) > 0:
                row_marker += 1

        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass
        
        return df
    
time = datetime.datetime.now(datetime.timezone.utc).strftime("%Y-%m-%d %H:%M%Z")
print("\n" + "Date/Time >: " + time)
print("Counters are reset at 23:59UTC" + "\n")

hp = HTMLTableParser()
table = hp.parse_url(url)[0][1]
print(tabulate(table, headers=["#","Country","Cases","+","Deaths","+",\
"Recovered","Active","Critical","CPM"], tablefmt='psql'))

table.to_csv(time + '.csv')

Date/Time >: 2020-03-19 21:19UTC
Counters are reset at 23:59UTC

+-----+------------------------+---------+--------+----------+-------+-------------+----------+------------+-------+
|   # | Country                | Cases   | +      | Deaths   | +     | Recovered   | Active   | Critical   | CPM   |
|-----+------------------------+---------+--------+----------+-------+-------------+----------+------------+-------|
|   0 | China                  | 80,928  | +34    | 3,245    | +8    | 70,420      | 7,263    | 2,274      | 56    |
|   1 | Italy                  | 41,035  | +5,322 | 3,405    | +427  | 4,440       | 33,190   | 2,498      | 679   |
|   2 | Iran                   | 18,407  | +1,046 | 1,284    | +149  | 5,979       | 11,144   |            | 219   |
|   3 | Spain                  | 18,077  | +3,308 | 831      | +193  | 1,107       | 16,139   | 939        | 387   |
|   4 | Germany                | 15,320  | +2,993 | 44       | +16   | 115         | 15,161   | 2          | 183   |
|   5 | USA                    | 13,289  | +4,030 | 183      | +33   | 108         | 12,998   | 64         | 40    |
|   6 | France                 | 10,995  | +1,861 | 372      | +108  | 602         | 10,021   | 931        | 168   |
|   7 | S. Korea               | 8,565   | +152   | 91       | +7    | 1,947       | 6,527    | 59         | 167   |
|   8 | Switzerland            | 4,133   | +1,018 | 43       | +10   | 15          | 4,075    |            | 478   |
|   9 | UK                     | 3,269   | +643   | 144      | +40   | 65          | 3,060    | 20         | 48    |
|  10 | Netherlands            | 2,460   | +409   | 76       | +18   | 2           | 2,382    | 45         | 144   |
|  11 | Austria                | 2,179   | +533   | 6        | +2    | 9           | 2,164    | 13         | 242   |
|  12 | Belgium                | 1,795   | +309   | 21       | +7    | 165         | 1,609    | 130        | 155   |
|  13 | Norway                 | 1,790   | +199   | 7        | +1    | 1           | 1,782    | 27         | 330   |
|  14 | Sweden                 | 1,439   | +138   | 11       | +1    | 16          | 1,412    | 21         | 142   |
|  15 | Denmark                | 1,151   | +94    | 6        | +2    | 1           | 1,144    | 30         | 199   |
|  16 | Japan                  | 943     | +29    | 33       | +4    | 191         | 719      | 46         | 7     |
|  17 | Malaysia               | 900     | +110   | 2        |       | 75          | 823      | 15         | 28    |
|  18 | Canada                 | 801     | +74    | 10       | +1    | 11          | 780      | 1          | 21    |
|  19 | Portugal               | 785     | +143   | 4        | +2    | 4           | 777      | 20         | 77    |
|  20 | Diamond Princess       | 712     |        | 7        |       | 527         | 178      | 14         |       |
|  21 | Australia              | 709     | +113   | 6        |       | 46          | 657      | 1          | 28    |
|  22 | Czechia                | 694     | +172   |          |       | 3           | 691      | 6          | 65    |
|  23 | Israel                 | 677     | +244   |          |       | 14          | 663      | 6          | 78    |
|  24 | Brazil                 | 621     | +92    | 7        | +3    | 2           | 612      | 18         | 3     |
|  25 | Ireland                | 557     | +191   | 3        | +1    | 5           | 549      | 6          | 113   |
|  26 | Greece                 | 464     | +46    | 6        | +1    | 19          | 439      | 16         | 45    |
|  27 | Qatar                  | 460     | +8     |          |       | 10          | 450      | 6          | 160   |
|  28 | Pakistan               | 454     | +147   | 2        |       | 13          | 439      |            | 2     |
|  29 | Finland                | 400     | +41    |          |       | 10          | 390      | 2          | 72    |
|  30 | Turkey                 | 359     | +168   | 4        | +2    |             | 355      |            | 4     |
|  31 | Poland                 | 355     | +68    | 5        |       | 13          | 337      | 3          | 9     |
|  32 | Singapore              | 345     | +32    |          |       | 124         | 221      | 14         | 59    |
|  33 | Chile                  | 342     | +104   |          |       |             | 342      | 6          | 18    |
|  34 | Luxembourg             | 335     | +132   | 4        | +2    | 6           | 325      | 1          | 535   |
|  35 | Iceland                | 330     | +80    |          |       | 5           | 325      | 1          | 967   |
|  36 | Slovenia               | 319     | +33    | 1        |       |             | 318      | 6          | 153   |
|  37 | Indonesia              | 308     | +81    | 25       | +6    | 15          | 268      |            | 1     |
|  38 | Bahrain                | 278     | +22    | 1        |       | 110         | 167      | 4          | 163   |
|  39 | Romania                | 277     | +17    |          |       | 25          | 252      | 5          | 14    |
|  40 | Saudi Arabia           | 274     | +36    |          |       | 8           | 266      |            | 8     |
|  41 | Thailand               | 272     | +60    | 1        |       | 42          | 229      | 1          | 4     |
|  42 | Estonia                | 267     | +9     |          |       | 1           | 266      | 1          | 201   |
|  43 | Ecuador                | 260     | +92    | 3        |       | 1           | 256      | 2          | 15    |
|  44 | Egypt                  | 256     | +46    | 7        | +1    | 42          | 207      |            | 3     |
|  45 | Peru                   | 234     | +89    |          |       | 1           | 233      | 7          | 7     |
|  46 | Philippines            | 217     | +15    | 17       |       | 8           | 192      | 1          | 2     |
|  47 | Hong Kong              | 208     | +15    | 4        |       | 98          | 106      | 4          | 28    |
|  48 | Russia                 | 199     | +52    | 1        | +1    | 8           | 190      |            | 1     |
|  49 | India                  | 194     | +25    | 4        | +1    | 20          | 170      |            | 0.1   |
|  50 | Iraq                   | 192     | +28    | 13       | +1    | 49          | 130      |            | 5     |
|  51 | Lebanon                | 157     | +24    | 4        |       | 4           | 149      | 3          | 23    |
|  52 | South Africa           | 150     | +34    |          |       |             | 150      |            | 3     |
|  53 | Kuwait                 | 148     | +6     |          |       | 18          | 130      | 5          | 35    |
|  54 | San Marino             | 140     |        | 14       |       | 4           | 122      | 11         | 4,126 |
|  55 | UAE                    | 140     | +27    |          |       | 31          | 109      | 2          | 14    |
|  56 | Slovakia               | 124     | +19    |          |       |             | 124      | 2          | 23    |
|  57 | Armenia                | 122     | +12    |          |       | 1           | 121      | 2          | 41    |
|  58 | Mexico                 | 118     | +25    | 1        | +1    | 4           | 113      | 1          | 0.9   |
|  59 | Croatia                | 110     | +21    | 1        | +1    | 5           | 104      |            | 27    |
|  60 | Panama                 | 109     |        | 1        |       |             | 108      | 7          | 25    |
|  61 | Taiwan                 | 108     | +8     | 1        |       | 26          | 81       |            | 5     |
|  62 | Colombia               | 108     | +15    |          |       | 1           | 107      |            | 2     |
|  63 | Bulgaria               | 107     | +15    | 3        | +1    |             | 104      |            | 15    |
|  64 | Serbia                 | 103     | +14    |          |       | 1           | 102      | 4          | 12    |
|  65 | Argentina              | 97      |        | 3        | +1    | 3           | 91       |            | 2     |
|  66 | Algeria                | 90      | +15    | 9        | +2    | 32          | 49       |            | 2     |
|  67 | Costa Rica             | 87      | +18    | 1        |       |             | 86       | 2          | 17    |
|  68 | Latvia                 | 86      | +15    |          |       | 1           | 85       |            | 46    |
|  69 | Vietnam                | 85      | +9     |          |       | 16          | 69       |            | 0.9   |
|  70 | Uruguay                | 79      |        |          |       |             | 79       |            | 23    |
|  71 | Andorra                | 74      | +21    |          |       | 1           | 73       |            | 958   |
|  72 | Hungary                | 73      | +15    | 1        |       | 2           | 70       | 4          | 8     |
|  73 | Brunei                 | 73      | +5     |          |       |             | 73       | 2          | 167   |
|  74 | Faeroe Islands         | 72      | +14    |          |       | 1           | 71       |            | 1,474 |
|  75 | Jordan                 | 69      | +13    |          |       | 1           | 68       |            | 7     |
|  76 | Cyprus                 | 67      | +9     |          |       |             | 67       | 1          | 55    |
|  77 | Albania                | 64      | +5     | 2        |       |             | 62       | 2          | 22    |
|  78 | Bosnia and Herzegovina | 64      | +25    |          |       | 2           | 62       |            | 20    |
|  79 | Morocco                | 63      | +9     | 2        |       | 2           | 59       | 1          | 2     |
|  80 | Sri Lanka              | 60      | +9     |          |       | 3           | 57       |            | 3     |
|  81 | Malta                  | 53      | +5     |          |       | 2           | 51       |            | 120   |
|  82 | Belarus                | 51      |        |          |       | 5           | 46       |            | 5     |
|  83 | North Macedonia        | 50      | +7     |          |       | 1           | 49       | 1          | 24    |
|  84 | Moldova                | 49      | +13    | 1        |       | 1           | 47       | 3          | 12    |
|  85 | Oman                   | 48      | +9     |          |       | 13          | 35       |            | 9     |
|  86 | Palestine              | 47      | +3     |          |       |             | 47       |            | 9     |
|  87 | Kazakhstan             | 44      | +8     | 3        | +3    |             | 41       |            | 2     |
|  88 | Azerbaijan             | 44      | +10    | 1        |       | 7           | 36       |            | 4     |
|  89 | Venezuela              | 42      | +6     |          |       |             | 42       |            | 1     |
|  90 | Lithuania              | 41      | +7     |          |       | 1           | 40       | 1          | 15    |
|  91 | Georgia                | 40      | +2     |          |       | 1           | 39       | 1          | 10    |
|  92 | Tunisia                | 39      | +10    | 1        | +1    | 1           | 37       | 2          | 3     |
|  93 | Cambodia               | 37      |        |          |       | 1           | 36       |            | 2     |
|  94 | Senegal                | 36      |        |          |       | 2           | 34       |            | 2     |
|  95 | Dominican Republic     | 34      |        | 2        |       |             | 32       |            | 3     |
|  96 | Burkina Faso           | 33      | +6     | 1        |       |             | 32       |            | 2     |
|  97 | Guadeloupe             | 33      |        |          |       |             | 33       |            | 82    |
|  98 | New Zealand            | 28      | +8     |          |       |             | 28       |            | 6     |
|  99 | Liechtenstein          | 28      |        |          |       |             | 28       |            | 734   |
| 100 | Réunion                | 28      | +14    |          |       |             | 28       |            | 31    |
| 101 | Martinique             | 23      |        | 1        |       |             | 22       |            | 61    |
| 102 | Uzbekistan             | 23      | +5     |          |       |             | 23       |            | 0.7   |
| 103 | Afghanistan            | 22      |        |          |       | 1           | 21       |            | 0.6   |
| 104 | Ukraine                | 21      | +5     | 3        | +1    |             | 18       |            | 0.5   |
| 105 | Bangladesh             | 18      | +4     | 1        |       | 3           | 14       |            | 0.1   |
| 106 | Macao                  | 17      |        |          |       | 10          | 7        |            | 26    |
| 107 | Jamaica                | 15      |        | 1        |       | 2           | 12       |            | 5     |
| 108 | Bolivia                | 15      | +3     |          |       |             | 15       |            | 1     |
| 109 | French Guiana          | 15      |        |          |       |             | 15       |            | 50    |
| 110 | DRC                    | 14      | +7     |          |       |             | 14       |            | 0.2   |
| 111 | Cameroon               | 13      |        |          |       |             | 13       |            | 0.5   |
| 112 | Maldives               | 13      |        |          |       |             | 13       |            | 24    |
| 113 | Nigeria                | 12      | +4     |          |       | 1           | 11       |            | 0.06  |
| 114 | Guam                   | 12      | +4     |          |       |             | 12       |            | 71    |
| 115 | Honduras               | 12      | +3     |          |       |             | 12       |            | 1     |
| 116 | Cuba                   | 11      | +1     | 1        |       |             | 10       |            | 1.0   |
| 117 | Channel Islands        | 11      | +4     |          |       |             | 11       |            | 63    |
| 118 | Ghana                  | 11      | +4     |          |       |             | 11       |            | 0.4   |
| 119 | Paraguay               | 11      |        |          |       |             | 11       | 1          | 2     |
| 120 | Rwanda                 | 11      |        |          |       |             | 11       |            | 0.8   |
| 121 | Monaco                 | 10      | +1     |          |       |             | 10       |            | 255   |
| 122 | Gibraltar              | 10      | +2     |          |       | 2           | 8        |            | 297   |
| 123 | Montenegro             | 10      | +2     |          |       |             | 10       |            | 16    |
| 124 | Guatemala              | 9       | +1     | 1        |       |             | 8        |            | 0.5   |
| 125 | Ivory Coast            | 9       |        |          |       | 1           | 8        |            | 0.3   |
| 126 | Trinidad and Tobago    | 9       | +2     |          |       |             | 9        |            | 6     |
| 127 | Ethiopia               | 7       | +1     |          |       |             | 7        |            | 0.06  |
| 128 | Kenya                  | 7       |        |          |       |             | 7        |            | 0.1   |
| 129 | Mauritius              | 7       | +4     |          |       |             | 7        |            | 6     |
| 130 | Equatorial Guinea      | 6       | +2     |          |       |             | 6        |            | 4     |
| 131 | French Polynesia       | 6       | +1     |          |       |             | 6        |            | 21    |
| 132 | Mongolia               | 6       |        |          |       |             | 6        |            | 2     |
| 133 | Puerto Rico            | 6       |        |          |       |             | 6        |            | 2     |
| 134 | Seychelles             | 6       |        |          |       |             | 6        |            | 61    |
| 135 | Tanzania               | 6       | +3     |          |       |             | 6        |            | 0.1   |
| 136 | Guyana                 | 5       | +1     | 1        |       |             | 4        |            | 6     |
| 137 | Aruba                  | 5       | +1     |          |       | 1           | 4        |            | 47    |
| 138 | Barbados               | 5       | +3     |          |       |             | 5        |            | 17    |
| 139 | Cayman Islands         | 3       | +2     | 1        |       |             | 2        |            | 46    |
| 140 | Curaçao                | 3       |        | 1        | +1    |             | 2        |            | 18    |
| 141 | Bahamas                | 3       | +2     |          |       |             | 3        |            | 8     |
| 142 | Congo                  | 3       | +2     |          |       |             | 3        |            | 0.5   |
| 143 | Gabon                  | 3       |        |          |       |             | 3        |            | 1     |
| 144 | Kyrgyzstan             | 3       |        |          |       |             | 3        |            | 0.5   |
| 145 | Mayotte                | 3       |        |          |       |             | 3        |            | 11    |
| 146 | Namibia                | 3       | +1     |          |       |             | 3        |            | 1     |
| 147 | St. Barth              | 3       |        |          |       |             | 3        |            | 304   |
| 148 | Saint Martin           | 3       |        |          |       |             | 3        |            | 78    |
| 149 | U.S. Virgin Islands    | 3       | +1     |          |       |             | 3        |            | 29    |
| 150 | Sudan                  | 2       |        | 1        |       |             | 1        |            | 0.05  |
| 151 | Benin                  | 2       |        |          |       |             | 2        |            | 0.2   |
| 152 | Bermuda                | 2       |        |          |       |             | 2        |            | 32    |
| 153 | Greenland              | 2       |        |          |       |             | 2        |            | 35    |
| 154 | Liberia                | 2       |        |          |       |             | 2        |            | 0.4   |
| 155 | Mauritania             | 2       |        |          |       |             | 2        |            | 0.4   |
| 156 | New Caledonia          | 2       |        |          |       |             | 2        |            | 7     |
| 157 | Saint Lucia            | 2       |        |          |       |             | 2        |            | 11    |
| 158 | Zambia                 | 2       |        |          |       |             | 2        |            | 0.1   |
| 159 | Nepal                  | 1       |        |          |       | 1           | 0        |            | 0.03  |
| 160 | Antigua and Barbuda    | 1       |        |          |       |             | 1        |            | 10    |
| 161 | Bhutan                 | 1       |        |          |       |             | 1        |            | 1     |
| 162 | CAR                    | 1       |        |          |       |             | 1        |            | 0.2   |
| 163 | Chad                   | 1       | +1     |          |       |             | 1        |            | 0.06  |
| 164 | Djibouti               | 1       |        |          |       |             | 1        |            | 1     |
| 165 | El Salvador            | 1       | +1     |          |       |             | 1        |            | 0.2   |
| 166 | Fiji                   | 1       | +1     |          |       |             | 1        |            | 1     |